<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>The best bank!</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" th:src="@{/js/modernizr-1.5.min.js}"></script>
</head>

<body>
  <div id="main">
    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">The Best <span class="logo_colour">Bank</span></a></h1>
          <h2>Kredyty. Haracze. Wymuszenia.</h2>
        </div>
      </div>
      <nav>
        <div id="menu_container">
          <ul class="sf-menu" id="nav">
            <li><a href="/">Strona głowna</a></li>
            <li><a href="/calculator">Kalkulator kredytowy</a></li>
           <!-- <li><a href="page.html">A Page</a></li>
            <li><a href="another_page.html">Another Page</a></li>
            <li><a href="#">Example Drop Down</a>
              <ul>
                <li><a href="#">Drop Down One</a></li>
                <li><a href="#">Drop Down Two</a>
                  <ul>
                    <li><a href="#">Sub Drop Down One</a></li>
                    <li><a href="#">Sub Drop Down Two</a></li>
                    <li><a href="#">Sub Drop Down Three</a></li>
                    <li><a href="#">Sub Drop Down Four</a></li>
                    <li><a href="#">Sub Drop Down Five</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down Three</a></li>
                <li><a href="#">Drop Down Four</a></li>
                <li><a href="#">Drop Down Five</a></li>
              </ul>
            </li>
            <li><a href="contact.php">Contact Us</a></li> -->
          </ul>
        </div>
      </nav>
    </header>
    <div id="site_content">
      <div id="sidebar_container">
       <!-- <div class="sidebar">
          <h3>Latest News</h3>
          <h4>New Website Launched</h4>
          <h5>January 1st, 2013</h5>
          <p>2013 sees the redesign of our website. <a href="#">Read more</a></p>
        </div> -->
        <div class="sidebar">
          <h3>Przydatne linki</h3>
          <ul>
            <li><a href="/calculator">Kalkulator kredytowy</a></li>
          </ul>
        </div>
       <!-- <div class="sidebar">
          <h3>More Useful Links</h3>
          <ul>
            <li><a href="#">First Link</a></li>
            <li><a href="#">Another Link</a></li>
            <li><a href="#">And Another</a></li>
            <li><a href="#">Last One</a></li>
          </ul>
        </div> -->
      </div>
      <div class="content">
        <h1>Kalkulator kredytowy</h1>
          <div class="form_response" th:if="${possibleInstallments!=0 and possibleInstallments!=null and requestedInstallments>=possibleInstallments}">
              <p class="approve">KREDYT PRZYDZIELONY!</p>
          </div>
          <div class="form_response" th:if="${possibleInstallments>requestedInstallments or possibleInstallments==0}">
              <p class="refuse"> NIE PRZYDZIELONO KREDYTU! </p>
          </div>
        <div class="form_response" th:if="${possibleInstallments>requestedInstallments}">
          <p class="refuse"> Spróbuj z inną ilością rat </p>
        </div>
        <div class="form_response" th:if="${possibleInstallments==0}">
        <p class="refuse"> Twoje przychody są zbyt małe!  </p>
      </div>




          <div th:if="${possibleInstallments ==null or possibleInstallments>requestedInstallments or possibleInstallments==0 }">
        <form id="contact" th:action="@{/calculator}" method="post">
        <div class="form_settings">
          <p><span>Miesięczne przychody: </span><input class="contact" min="100" type="number" step="0.01"  name="income" placeholder="wpisz swoje miesięczne zarobki" required="true" th:value="${income}"/></p>
          <p><span>Kwota kredytu: </span><input class="contact" min="10"  type="number"  step="0.01" name="amount" placeholder="wpisz kwotę, jaką chcesz otrzymać" required="true" th:value="${amount}"/></p>
          <p><span>Ilość rat: </span><input class="contact" type="number" name="numberOfInstallments" placeholder="wpisz ilość rat" required="true" th:value="${possibleInstallments}"/></p>
          <p><input type="submit" class="submit"/></p>
        </div>
        </form>
        </div>
      </div>
    </div>
    <div id="scroll">
      <a title="Scroll to the top" class="top" href="#"><img th:src="@{images/top.png}" alt="top" /></a>
    </div>
    <footer>
      <p><img th:src="@{images/twitter.png}" alt="twitter" />&nbsp;<img th:src="@{images/facebook.png}" alt="facebook" />&nbsp;<img th:src="@{images/rss.png}" alt="rss" /></p>
      <p><a href="/">Strona główna</a> | <a href="/calculator">Kalkulator</a></p>
      <p><a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
    </footer>
  </div>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.easing-sooper.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.sooperfish.js}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
      $('.top').click(function() {$('html, body').animate({scrollTop:0}, 'fast'); return false;});
    });
  </script>
</body>
</html>
